.FlavorSlides {
  height: 100%;

  .swiper-slide {
    flex-direction: column;
  }

  .FlavorSlide {
    background-color: #efefef;
    border-radius: 100%;
    height: 200px;
    width: 200px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .swiper-slide-active {
    .FlavorSlideName {
      h2 {
        font-size: 1.6em !important;
        font-weight: 700;
      }
    }
  }

  .FlavorSlideName {
    h2 {
      font-size: 1.3em;
      line-height: 1em;
      color: var(--ion-color-coffee);
      font-weight: 600;
      text-align: center;
    }
  }
}
